<a href="https://colab.research.google.com/github/seldoncode/tutorial/blob/main/tutorial_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tutorial de SQL

---

### **1. ¬øQU√â ES SQL?**
- Lenguaje para comunicarse con bases de datos relacionales (MySQL, PostgreSQL, SQLite, etc.).
- Permite **crear, consultar, modificar y eliminar** datos.

---

### **2. COMANDOS B√ÅSICOS (CRUD)**

#### **a) CREAR UNA BASE DE DATOS Y TABLA**
```sql
-- Crear base de datos
CREATE DATABASE mi_base;

-- Usar la base de datos
USE mi_base; -- En PostgreSQL: \c mi_base

-- Crear una tabla
CREATE TABLE clientes (
    id INT PRIMARY KEY AUTO_INCREMENT,
    nombre VARCHAR(50),
    edad INT,
    email VARCHAR(100)
);
```

#### **b) INSERTAR DATOS**
```sql
INSERT INTO clientes (nombre, edad, email)
VALUES
    ('Ana Garc√≠a', 28, 'ana@email.com'),
    ('Luis Mart√≠nez', 35, 'luis@email.com');
```

#### **c) CONSULTAR DATOS**
```sql
-- Seleccionar todo
SELECT * FROM clientes;

-- Seleccionar columnas espec√≠ficas
SELECT nombre, email FROM clientes;

-- Con filtro (WHERE)
SELECT * FROM clientes WHERE edad > 30;
```

#### **d) ACTUALIZAR DATOS**
```sql
UPDATE clientes
SET edad = 29
WHERE nombre = 'Ana Garc√≠a';
```

#### **e) ELIMINAR DATOS**
```sql
-- Eliminar registros espec√≠ficos
DELETE FROM clientes WHERE id = 2;

-- ¬°CUIDADO! Esto borra todos los registros:
-- DELETE FROM clientes;
```

---

### **3. CLAUSULAS IMPORTANTES**

#### **WHERE** (Filtrar)
```sql
SELECT * FROM clientes
WHERE edad BETWEEN 20 AND 40;
```

#### **ORDER BY** (Ordenar)
```sql
SELECT * FROM clientes
ORDER BY edad DESC; -- ASC para ascendente
```

#### **LIMIT** (Limitar resultados)
```sql
SELECT * FROM clientes
LIMIT 5;
```

#### **LIKE** (B√∫squeda parcial)
```sql
-- Nombres que empiezan con 'A'
SELECT * FROM clientes
WHERE nombre LIKE 'A%';
```

---

### **4. FUNCIONES DE AGREGACI√ìN**
```sql
-- Contar registros
SELECT COUNT(*) FROM clientes;

-- Calcular promedio de edad
SELECT AVG(edad) FROM clientes;

-- Suma de edades
SELECT SUM(edad) FROM clientes;

-- Edad m√°xima y m√≠nima
SELECT MAX(edad), MIN(edad) FROM clientes;
```

#### **GROUP BY** (Agrupar resultados)
```sql
-- Contar clientes por edad
SELECT edad, COUNT(*)
FROM clientes
GROUP BY edad;
```

---

### **5. CLAVES PRIMARIAS Y FOR√ÅNEAS**
```sql
CREATE TABLE pedidos (
    id INT PRIMARY KEY AUTO_INCREMENT,
    cliente_id INT,
    producto VARCHAR(100),
    FOREIGN KEY (cliente_id) REFERENCES clientes(id)
);
```

---

### **6. CONSULTAS CON JOIN** (Unir tablas)
```sql
-- INNER JOIN: Datos que coinciden en ambas tablas
SELECT clientes.nombre, pedidos.producto
FROM clientes
INNER JOIN pedidos ON clientes.id = pedidos.cliente_id;

-- LEFT JOIN: Todos los clientes aunque no tengan pedidos
SELECT clientes.nombre, pedidos.producto
FROM clientes
LEFT JOIN pedidos ON clientes.id = pedidos.cliente_id;
```

---

### **7. EJERCICIO PR√ÅCTICO**
1. Crea una tabla `productos` con: id, nombre, precio.
2. Inserta 3 productos.
3. Consulta productos con precio mayor a 10.
4. Actualiza el precio de un producto.
5. Elimina el producto m√°s barato.

---

### **8. RECOMENDACIONES**
- **Practica** en plataformas como [SQLFiddle](http://sqlfiddle.com/), [W3Schools](https://www.w3schools.com/sql/), o instala [SQLite](https://www.sqlite.org/index.html).
- **Nunca hagas `DELETE` o `UPDATE` sin `WHERE`** (a menos que sea intencional).
- Aprende sobre **√≠ndices** para optimizar consultas:
  ```sql
  CREATE INDEX idx_email ON clientes(email);
  ```

---

### **EXTRA: EJEMPLO DE CONSULTA COMPLETA**
```sql
-- "Clientes mayores de 25 que tengan 'gmail' en su email, ordenados por nombre"
SELECT nombre, email, edad
FROM clientes
WHERE edad > 25
  AND email LIKE '%gmail%'
ORDER BY nombre
LIMIT 10;
```

---

# **GROUP BY: Ejemplos Pr√°cticos y Avanzados**

## **üìä 1. EJEMPLOS B√ÅSICOS DE GROUP BY**

### **Tabla de ejemplo: ventas**
```sql
CREATE TABLE ventas (
    id INT PRIMARY KEY AUTO_INCREMENT,
    fecha DATE,
    vendedor VARCHAR(50),
    producto VARCHAR(50),
    cantidad INT,
    total DECIMAL(10,2),
    region VARCHAR(50)
);

INSERT INTO ventas (fecha, vendedor, producto, cantidad, total, region) VALUES
('2024-01-15', 'Carlos', 'Laptop', 2, 2400.00, 'Norte'),
('2024-01-15', 'Ana', 'Mouse', 5, 250.00, 'Sur'),
('2024-01-16', 'Carlos', 'Teclado', 3, 180.00, 'Norte'),
('2024-01-16', 'Ana', 'Laptop', 1, 1200.00, 'Sur'),
('2024-01-16', 'Luis', 'Monitor', 2, 600.00, 'Este'),
('2024-01-17', 'Ana', 'Teclado', 4, 240.00, 'Sur'),
('2024-01-17', 'Luis', 'Mouse', 3, 150.00, 'Este'),
('2024-01-17', 'Carlos', 'Monitor', 1, 300.00, 'Norte'),
('2024-01-17', 'Ana', 'Laptop', 1, 1200.00, 'Sur');
```

---

## **üî¢ 2. EJEMPLOS DE CONSULTAS CON GROUP BY**

### **Ejemplo 1: Ventas totales por vendedor**
```sql
SELECT
    vendedor,
    COUNT(*) AS total_ventas,
    SUM(total) AS ingreso_total,
    AVG(total) AS promedio_venta,
    SUM(cantidad) AS productos_vendidos
FROM ventas
GROUP BY vendedor;
```
**Resultado:**
```
vendedor | total_ventas | ingreso_total | promedio_venta | productos_vendidos
Carlos   | 3            | 2880.00       | 960.00         | 6
Ana      | 4            | 2890.00       | 722.50         | 11
Luis     | 2            | 750.00        | 375.00         | 5
```

### **Ejemplo 2: Ventas por d√≠a**
```sql
SELECT
    fecha,
    COUNT(*) AS transacciones,
    SUM(total) AS venta_diaria,
    MAX(total) AS venta_maxima,
    MIN(total) AS venta_minima
FROM ventas
GROUP BY fecha
ORDER BY fecha;
```

### **Ejemplo 3: Productos m√°s vendidos**
```sql
SELECT
    producto,
    SUM(cantidad) AS unidades_vendidas,
    SUM(total) AS ingreso_generado,
    COUNT(DISTINCT vendedor) AS vendedores_que_vendieron
FROM ventas
GROUP BY producto
ORDER BY unidades_vendidas DESC;
```

---

## **üéØ 3. GROUP BY CON M√öLTIPLES COLUMNAS**

### **Ejemplo 4: Ventas por vendedor y producto**
```sql
SELECT
    vendedor,
    producto,
    SUM(cantidad) AS total_unidades,
    SUM(total) AS total_ventas,
    COUNT(*) AS veces_vendido
FROM ventas
GROUP BY vendedor, producto
ORDER BY vendedor, total_ventas DESC;
```

### **Ejemplo 5: Ventas por regi√≥n y d√≠a**
```sql
SELECT
    fecha,
    region,
    COUNT(*) AS ventas_regionales,
    SUM(total) AS total_region
FROM ventas
GROUP BY fecha, region
ORDER BY fecha, total_region DESC;
```

---

## **üìà 4. GROUP BY CON HAVING (FILTRAR GRUPOS)**

### **Ejemplo 6: Vendedores con m√°s de 2 ventas**
```sql
SELECT
    vendedor,
    COUNT(*) AS total_ventas
FROM ventas
GROUP BY vendedor
HAVING COUNT(*) > 2;
```

### **Ejemplo 7: Productos que generaron m√°s de $1000**
```sql
SELECT
    producto,
    SUM(total) AS ventas_totales
FROM ventas
GROUP BY producto
HAVING SUM(total) > 1000
ORDER BY ventas_totales DESC;
```

### **Ejemplo 8: D√≠as con ventas promedio mayores a $500**
```sql
SELECT
    fecha,
    AVG(total) AS promedio_ventas,
    COUNT(*) AS transacciones
FROM ventas
GROUP BY fecha
HAVING AVG(total) > 500;
```

---

## **üîÑ 5. GROUP BY CON FUNCIONES DE FECHA**

### **Ejemplo 9: Ventas por mes**
```sql
SELECT
    YEAR(fecha) AS a√±o,
    MONTH(fecha) AS mes,
    MONTHNAME(fecha) AS nombre_mes,
    SUM(total) AS ventas_mensuales
FROM ventas
GROUP BY YEAR(fecha), MONTH(fecha)
ORDER BY a√±o, mes;
```

### **Ejemplo 10: Ventas por d√≠a de la semana**
```sql
SELECT
    DAYNAME(fecha) AS dia_semana,
    COUNT(*) AS ventas_dia,
    SUM(total) AS total_dia
FROM ventas
GROUP BY DAYNAME(fecha), DAYOFWEEK(fecha)
ORDER BY DAYOFWEEK(fecha);
```

---

## **üßÆ 6. GROUP BY CON EXPRESIONES CONDICIONALES**

### **Ejemplo 11: Segmentar ventas por tama√±o**
```sql
SELECT
    vendedor,
    SUM(total) AS total_ventas,
    COUNT(CASE WHEN total > 1000 THEN 1 END) AS ventas_grandes,
    COUNT(CASE WHEN total BETWEEN 500 AND 1000 THEN 1 END) AS ventas_medianas,
    COUNT(CASE WHEN total < 500 THEN 1 END) AS ventas_pequenas
FROM ventas
GROUP BY vendedor;
```

### **Ejemplo 12: Categorizar productos**
```sql
SELECT
    CASE
        WHEN producto IN ('Laptop', 'Monitor') THEN 'Electr√≥nica Mayor'
        WHEN producto IN ('Teclado', 'Mouse') THEN 'Electr√≥nica Menor'
        ELSE 'Otros'
    END AS categoria,
    COUNT(*) AS items_vendidos,
    SUM(total) AS ventas_categoria
FROM ventas
GROUP BY categoria;
```

---

## **üìä 7. EJEMPLOS COMPLEJOS CON SUBQUERIES**

### **Ejemplo 13: Porcentaje de ventas por vendedor**
```sql
SELECT
    vendedor,
    SUM(total) AS ventas_vendedor,
    ROUND(SUM(total) * 100.0 / (SELECT SUM(total) FROM ventas), 2) AS porcentaje_total
FROM ventas
GROUP BY vendedor
ORDER BY ventas_vendedor DESC;
```

### **Ejemplo 14: Comparar vendedores con promedio**
```sql
SELECT
    vendedor,
    AVG(total) AS promedio_vendedor,
    (SELECT AVG(total) FROM ventas) AS promedio_general,
    CASE
        WHEN AVG(total) > (SELECT AVG(total) FROM ventas) THEN 'Sobre el promedio'
        ELSE 'Bajo el promedio'
    END AS rendimiento
FROM ventas
GROUP BY vendedor;
```

---

## **üìÅ 8. EJEMPLO CON TABLAS RELACIONADAS**

### **Tablas adicionales:**
```sql
CREATE TABLE empleados (
    id INT PRIMARY KEY,
    nombre VARCHAR(50),
    departamento VARCHAR(50)
);

CREATE TABLE pedidos (
    id INT PRIMARY KEY,
    empleado_id INT,
    monto DECIMAL(10,2),
    fecha_pedido DATE,
    FOREIGN KEY (empleado_id) REFERENCES empleados(id)
);
```

### **Ejemplo 15: Ventas por departamento**
```sql
SELECT
    e.departamento,
    COUNT(p.id) AS total_pedidos,
    SUM(p.monto) AS ventas_departamento,
    AVG(p.monto) AS promedio_pedido,
    COUNT(DISTINCT e.id) AS empleados_activos
FROM empleados e
LEFT JOIN pedidos p ON e.id = p.empleado_id
GROUP BY e.departamento
ORDER BY ventas_departamento DESC;
```

### **Ejemplo 16: Top empleados por departamento**
```sql
SELECT
    departamento,
    nombre,
    ventas_totales,
    ranking
FROM (
    SELECT
        e.departamento,
        e.nombre,
        SUM(p.monto) AS ventas_totales,
        ROW_NUMBER() OVER(PARTITION BY e.departamento ORDER BY SUM(p.monto) DESC) AS ranking
    FROM empleados e
    LEFT JOIN pedidos p ON e.id = p.empleado_id
    GROUP BY e.departamento, e.id, e.nombre
) AS ranking_vendedores
WHERE ranking <= 3
ORDER BY departamento, ranking;
```

---

## **‚ö†Ô∏è 9. ERRORES COMUNES Y SOLUCIONES**

### **Error: Columna no agregada en GROUP BY**
```sql
-- ERROR:
SELECT vendedor, producto, SUM(total)
FROM ventas
GROUP BY vendedor;  -- ¬°producto no est√° en GROUP BY!

-- SOLUCI√ìN:
SELECT vendedor, producto, SUM(total)
FROM ventas
GROUP BY vendedor, producto;  -- Agrupar por ambas columnas
```

### **Error: Confusi√≥n entre WHERE y HAVING**
```sql
-- WHERE filtra REGISTROS antes de agrupar
-- HAVING filtra GRUPOS despu√©s de agrupar

-- Ejemplo correcto:
SELECT vendedor, SUM(total) AS ventas
FROM ventas
WHERE fecha >= '2024-01-01'  -- Filtra registros individuales
GROUP BY vendedor
HAVING SUM(total) > 1000;     -- Filtra grupos resultantes
```

---

## **üí° 10. CONSEJOS PR√ÅCTICOS**

1. **√çndices en columnas de GROUP BY** para mejor rendimiento:
   ```sql
   CREATE INDEX idx_vendedor ON ventas(vendedor);
   CREATE INDEX idx_fecha ON ventas(fecha);
   ```

2. **Usar COUNT(DISTINCT)** para contar valores √∫nicos:
   ```sql
   SELECT
       region,
       COUNT(DISTINCT vendedor) AS vendedores_unicos
   FROM ventas
   GROUP BY region;
   ```

3. **Performance**: Agrupar por menos columnas mejora velocidad.

4. **ORDER BY despu√©s de GROUP BY**:
   ```sql
   SELECT vendedor, SUM(total) AS ventas
   FROM ventas
   GROUP BY vendedor
   ORDER BY ventas DESC;
   ```

---

## **üìù 11. EJERCICIOS PR√ÅCTICOS**

1. **Ejercicio 1**: Encuentra el vendedor con m√°s transacciones por regi√≥n.
2. **Ejercicio 2**: Calcula el promedio m√≥vil de ventas por d√≠a.
3. **Ejercicio 3**: Identifica productos que solo han sido vendidos por un vendedor.
4. **Ejercicio 4**: Encuentra d√≠as con ventas decrecientes respecto al d√≠a anterior.

---

### **SOLUCI√ìN EJERCICIO 1:**
```sql
SELECT
    region,
    vendedor,
    COUNT(*) AS ventas
FROM ventas
GROUP BY region, vendedor
HAVING COUNT(*) = (
    SELECT MAX(ventas_count)
    FROM (
        SELECT region, vendedor, COUNT(*) AS ventas_count
        FROM ventas
        GROUP BY region, vendedor
    ) AS sub
    WHERE sub.region = ventas.region
)
ORDER BY region;
```