<a href="https://colab.research.google.com/github/seldoncode/tutorial/blob/main/tutorial_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SQL MASTERY: THE COMPLETE TUTORIAL**

## **PART 1: SQL FOUNDATIONS**

---

## **1.1 WHAT IS SQL AND WHY LEARN IT?**

### **Understanding SQL**

**SQL (Structured Query Language)** is the standard programming language specifically designed for managing and manipulating **relational databases**. Since its creation in the 1970s by IBM researchers, SQL has become the fundamental tool for anyone working with data, including:

- **Software Developers** - Building data-driven applications
- **Data Analysts** - Extracting insights from data
- **Database Administrators** - Managing and optimizing databases
- **Business Intelligence Professionals** - Creating reports and dashboards
- **Data Scientists** - Preparing and analyzing datasets

### **The Power of SQL**

SQL empowers you to:
- **Retrieve** specific data from massive datasets
- **Insert, update, and delete** records with precision
- **Create and modify** database structures
- **Control access** to sensitive data
- **Ensure data integrity** through constraints and transactions
- **Combine data** from multiple sources intelligently

### **Real-World Applications**

SQL is everywhere:
- **E-commerce** - Customer orders, inventory management
- **Banking** - Transaction processing, account management
- **Healthcare** - Patient records, treatment histories
- **Social Media** - User profiles, connections, content
- **Logistics** - Shipment tracking, inventory control

```sql
-- Simple example: Finding customers in New York
SELECT first_name, last_name, email
FROM customers
WHERE city = 'New York'
ORDER BY last_name;
```

---

## **1.2 RELATIONAL DATABASE CONCEPTS**

### **The Relational Model**

A **relational database** organizes data into **tables** (also called relations) that consist of **rows** (records) and **columns** (fields). This structure provides a logical and efficient way to store and retrieve data.

### **Core Components**

1. **Tables** - Collections of related data
2. **Rows** - Individual records in a table
3. **Columns** - Attributes or fields of the data
4. **Primary Keys** - Unique identifiers for each row
5. **Foreign Keys** - References to primary keys in other tables
6. **Relationships** - Connections between tables

### **Visualizing the Structure**

```
DATABASE: Company_System
    |
    ├── TABLE: employees
    │   ├── id (Primary Key)
    │   ├── first_name
    │   ├── last_name
    │   ├── email
    │   ├── department_id (Foreign Key)
    │   └── hire_date
    │
    ├── TABLE: departments
    │   ├── id (Primary Key)
    │   ├── name
    │   ├── location
    │   └── manager_id
    │
    └── TABLE: projects
        ├── id (Primary Key)
        ├── name
        ├── start_date
        ├── end_date
        └── budget
```

### **Key Database Concepts**

- **Data Integrity** - Ensuring accuracy and consistency
- **Normalization** - Organizing data to minimize redundancy
- **ACID Properties** - Atomicity, Consistency, Isolation, Durability
- **Indexes** - Structures that improve query performance
- **Transactions** - Groups of operations that succeed or fail together

---

## **1.3 COMMON DATABASE MANAGEMENT SYSTEMS (DBMS)**

### **Popular SQL Database Systems**

| Database | Company | Best For | License |
|----------|---------|----------|---------|
| **MySQL** | Oracle | Web applications, general purpose | Open Source / Commercial |
| **PostgreSQL** | Community | Complex queries, data integrity | Open Source |
| **SQL Server** | Microsoft | Enterprise applications, Windows | Commercial |
| **SQLite** | Community | Mobile apps, embedded systems | Open Source |
| **Oracle DB** | Oracle | Large enterprises, mission-critical | Commercial |

### **Choosing the Right Database**

Consider these factors:
1. **Project Size** - Small projects vs enterprise systems
2. **Performance Needs** - Read-heavy vs write-heavy workloads
3. **Budget** - Open source vs commercial solutions
4. **Team Expertise** - Existing skills and experience
5. **Scalability** - Future growth requirements
6. **Features Needed** - Advanced analytics, JSON support, etc.

### **SQL: The Common Language**

```sql
-- This basic SELECT works in ALL major databases
SELECT * FROM customers WHERE country = 'USA';

-- Most SQL is standard across databases
INSERT INTO orders (customer_id, amount) VALUES (123, 99.99);
UPDATE products SET price = price * 1.1 WHERE category = 'Electronics';
DELETE FROM log_entries WHERE date < '2023-01-01';
```

---

## **1.4 OUR EXAMPLE DATABASE: COMPANY MANAGEMENT SYSTEM**

Throughout this tutorial, we'll use a **Company Management System** database to illustrate concepts with practical examples. This realistic scenario helps you understand how SQL works in real-world applications.

### **Database Schema Overview**

```sql
-- Main tables in our example database
-- Employees table - Stores employee information
CREATE TABLE employees (
    id INT PRIMARY KEY AUTO_INCREMENT,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    email VARCHAR(100) UNIQUE NOT NULL,
    phone VARCHAR(20),
    hire_date DATE NOT NULL,
    salary DECIMAL(10,2),
    department_id INT,
    manager_id INT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Departments table - Company organizational structure
CREATE TABLE departments (
    id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(100) NOT NULL,
    location VARCHAR(200),
    budget DECIMAL(12,2) DEFAULT 0.00,
    manager_id INT
);

-- Projects table - Tracking company initiatives
CREATE TABLE projects (
    id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(200) NOT NULL,
    description TEXT,
    start_date DATE,
    end_date DATE,
    budget DECIMAL(12,2),
    status ENUM('Planning', 'Active', 'Completed', 'On Hold') DEFAULT 'Planning'
);

-- Project assignments - Many-to-many relationship
CREATE TABLE project_assignments (
    employee_id INT,
    project_id INT,
    role VARCHAR(50),
    hours_assigned INT,
    PRIMARY KEY (employee_id, project_id)
);
```

### **Sample Data Preview**

**Employees Table:**
```
id | first_name | last_name | email | department_id | salary
---|------------|-----------|-------|---------------|--------
1  | John       | Smith     | john.smith@company.com | 1 | 65000.00
2  | Sarah      | Johnson   | sarah.j@company.com    | 2 | 72000.00
3  | Michael    | Chen      | michael.c@company.com  | 1 | 58000.00
```

**Departments Table:**
```
id | name       | location      | budget
---|------------|---------------|-----------
1  | Sales      | New York      | 500000.00
2  | Engineering| San Francisco | 800000.00
3  | Marketing  | Chicago       | 300000.00
```

**Relationships:**
- Employees belong to Departments (department_id)
- Employees can work on multiple Projects (project_assignments)
- Departments have budgets and locations
- Projects have timelines and statuses

---

## **1.5 SETTING UP YOUR SQL ENVIRONMENT**

### **Option 1: Online SQL Playgrounds (Quick Start)**

**No installation required:**
- [SQL Fiddle](http://sqlfiddle.com/) - Test SQL online
- [DB Fiddle](https://www.db-fiddle.com/) - Multiple database support
- [W3Schools SQL Tryit](https://www.w3schools.com/sql/trysql.asp) - Simple online editor

### **Option 2: Install a Database Locally**

**SQLite (Simplest):**
```bash
# No server needed, single file database
# Download from: https://www.sqlite.org/download.html
# Or use command line:
sqlite3 company.db  # Creates/opens database file
```

**MySQL:**
```bash
# Windows: Download MySQL Installer
# Mac: brew install mysql
# Linux: sudo apt-get install mysql-server

# Start MySQL service
mysql -u root -p
```

**PostgreSQL:**
```bash
# Windows: Download PostgreSQL installer
# Mac: brew install postgresql
# Linux: sudo apt-get install postgresql

# Start PostgreSQL
psql -U postgres
```

### **Option 3: Database Management Tools**

**Popular GUI Tools:**
1. **MySQL Workbench** - Official MySQL GUI
2. **pgAdmin** - PostgreSQL administration tool
3. **DBeaver** - Universal database tool (supports all databases)
4. **TablePlus** - Modern, native database client
5. **HeidiSQL** - Lightweight MySQL client

### **Creating Our Example Database**

```sql
-- Step 1: Create the database
CREATE DATABASE company_db;

-- Step 2: Use the database
USE company_db;  -- In MySQL
-- In PostgreSQL: \c company_db
-- In SQLite: .open company.db

-- Step 3: Create tables (as shown in section 1.4)

-- Step 4: Insert sample data
INSERT INTO departments (name, location, budget) VALUES
('Sales', 'New York', 500000.00),
('Engineering', 'San Francisco', 800000.00),
('Marketing', 'Chicago', 300000.00),
('Human Resources', 'Boston', 250000.00);

INSERT INTO employees (first_name, last_name, email, hire_date, salary, department_id) VALUES
('John', 'Smith', 'john.smith@company.com', '2020-03-15', 65000.00, 1),
('Sarah', 'Johnson', 'sarah.j@company.com', '2019-07-22', 72000.00, 2),
('Michael', 'Chen', 'michael.c@company.com', '2021-01-10', 58000.00, 1),
('Emily', 'Davis', 'emily.d@company.com', '2018-11-05', 81000.00, 2),
('David', 'Wilson', 'david.w@company.com', '2022-06-30', 55000.00, 3);
```

---

## **1.6 BASIC SQL SYNTAX RULES**

### **SQL Statement Structure**

Every SQL statement follows this basic pattern:
```sql
COMMAND column1, column2, ...
FROM table_name
WHERE conditions
GROUP BY columns
HAVING group_conditions
ORDER BY columns
LIMIT number;
```

### **SQL Syntax Rules**

1. **SQL is (mostly) case-insensitive for keywords**
   ```sql
   SELECT * FROM employees;  -- Correct
   select * from employees;  -- Also correct
   Select * From Employees;  -- Works but not conventional
   ```

2. **Use semicolons to separate statements**
   ```sql
   SELECT * FROM employees; SELECT * FROM departments;
   -- Or on separate lines:
   SELECT * FROM employees;
   SELECT * FROM departments;
   ```

3. **String values require single quotes**
   ```sql
   SELECT * FROM employees WHERE last_name = 'Smith';  -- Correct
   SELECT * FROM employees WHERE last_name = "Smith";  -- Wrong in standard SQL
   ```

4. **Numeric values don't need quotes**
   ```sql
   SELECT * FROM employees WHERE salary > 50000;  -- Correct
   SELECT * FROM employees WHERE salary > '50000';  -- Works but not optimal
   ```

5. **White space is generally ignored**
   ```sql
   SELECT * FROM employees WHERE salary > 50000;
   
   -- Same as:
   SELECT *
   FROM employees
   WHERE salary > 50000;
   ```

### **Common SQL Commands Categories**

| Category | Purpose | Common Commands |
|----------|---------|-----------------|
| **DDL** (Data Definition) | Define/modify database structure | CREATE, ALTER, DROP, TRUNCATE |
| **DML** (Data Manipulation) | Manipulate data | SELECT, INSERT, UPDATE, DELETE |
| **DCL** (Data Control) | Control access | GRANT, REVOKE |
| **TCL** (Transaction Control) | Manage transactions | COMMIT, ROLLBACK, SAVEPOINT |

### **Writing Readable SQL Code**

```sql
-- ❌ Hard to read
SELECT e.first_name,e.last_name,d.name FROM employees e,departments d WHERE e.department_id=d.id AND e.salary>50000 ORDER BY e.last_name;

-- ✅ Much better: Proper formatting
SELECT
    e.first_name,
    e.last_name,
    d.name AS department_name
FROM employees e
INNER JOIN departments d ON e.department_id = d.id
WHERE e.salary > 50000
ORDER BY e.last_name;
```

**Formatting Guidelines:**
- Capitalize SQL keywords (SELECT, FROM, WHERE)
- Use lowercase for table/column names
- Indent consistently (typically 4 spaces)
- Break long queries into multiple lines
- Use meaningful aliases
- Add comments for complex logic

---

## **1.7 YOUR FIRST SQL QUERIES**

### **Connecting to the Database**

```bash
# MySQL command line
mysql -u username -p database_name

# PostgreSQL command line
psql -U username -d database_name

# SQLite command line
sqlite3 database_name.db
```

### **Basic Exploration Commands**

```sql
-- List all tables in the database
SHOW TABLES;  -- MySQL
\dt           -- PostgreSQL
.tables       -- SQLite

-- View table structure
DESCRIBE employees;   -- MySQL
\d employees;         -- PostgreSQL
.schema employees;    -- SQLite

-- See database information
SELECT DATABASE();    -- Current database (MySQL)
SELECT current_user;  -- Current user (PostgreSQL)
```

### **Simple SELECT Queries**

```sql
-- 1. Select everything from a table
SELECT * FROM employees;

-- 2. Select specific columns
SELECT first_name, last_name, email FROM employees;

-- 3. Limit number of rows returned
SELECT * FROM employees LIMIT 5;

-- 4. Count total records
SELECT COUNT(*) FROM employees;

-- 5. See unique values in a column
SELECT DISTINCT department_id FROM employees;
```

### **Practice Exercises**

```sql
-- Exercise 1: List all department names
SELECT name FROM departments;

-- Exercise 2: Show employee emails and hire dates
SELECT email, hire_date FROM employees;

-- Exercise 3: How many departments exist?
SELECT COUNT(*) AS department_count FROM departments;

-- Exercise 4: Preview projects table (if exists)
SELECT * FROM projects LIMIT 3;
```

---

## **1.8 SQL DATA TYPES FUNDAMENTALS**

### **Why Data Types Matter**

Every column in a SQL table must have a specified **data type** that defines:
- What kind of data can be stored
- How much storage space is needed
- What operations can be performed
- How data is validated

### **Common SQL Data Types**

| Category | Data Type | Description | Example |
|----------|-----------|-------------|---------|
| **Numeric** | INT | Whole numbers | `42`, `-15` |
| | DECIMAL(p,s) | Exact decimal numbers | `99.99`, `123.45` |
| | FLOAT | Approximate floating-point | `3.14159` |
| **Text** | VARCHAR(n) | Variable-length strings | `'Hello'`, `'World'` |
| | CHAR(n) | Fixed-length strings | `'A'`, `'Yes'` |
| | TEXT | Large text blocks | Long descriptions |
| **Date/Time** | DATE | Date only | `'2024-01-15'` |
| | TIME | Time only | `'14:30:00'` |
| | DATETIME | Date and time | `'2024-01-15 14:30:00'` |
| | TIMESTAMP | Automatic timestamp | `CURRENT_TIMESTAMP` |
| **Boolean** | BOOLEAN | True/False values | `TRUE`, `FALSE`, `1`, `0` |
| **Binary** | BLOB | Binary large objects | Images, files |

### **Choosing the Right Data Type**

```sql
-- Good choices for our example database
CREATE TABLE products (
    id INT PRIMARY KEY AUTO_INCREMENT,      -- Whole number ID
    name VARCHAR(200) NOT NULL,             -- Product name (variable length)
    sku CHAR(10) UNIQUE,                    -- Stock code (fixed length)
    description TEXT,                       -- Long description
    price DECIMAL(10,2) NOT NULL,           -- Money (2 decimal places)
    quantity_in_stock INT DEFAULT 0,        -- Whole number count
    is_available BOOLEAN DEFAULT TRUE,      -- True/False flag
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP, -- Auto timestamp
    weight DECIMAL(6,3)                     -- Weight with 3 decimals
);
```

### **Common Data Type Mistakes to Avoid**

```sql
-- ❌ BAD: Using wrong data types
CREATE TABLE bad_example (
    price VARCHAR(50),       -- Should be DECIMAL
    age TEXT,                -- Should be INT
    quantity CHAR(10),       -- Should be INT
    is_active VARCHAR(10)    -- Should be BOOLEAN
);

-- ✅ GOOD: Proper data types
CREATE TABLE good_example (
    price DECIMAL(10,2),     -- Correct for money
    age INT,                 -- Correct for whole numbers
    quantity INT,            -- Correct for counts
    is_active BOOLEAN        -- Correct for flags
);
```

---

## **1.9 PRACTICAL EXERCISES: FOUNDATIONS**

### **Exercise Set 1: Database Exploration**

```sql
-- 1. Connect to your database and list all tables
SHOW TABLES;

-- 2. Describe the structure of the employees table
DESCRIBE employees;

-- 3. Count how many employees are in the database
SELECT COUNT(*) AS total_employees FROM employees;

-- 4. View the first 3 records from departments table
SELECT * FROM departments LIMIT 3;

-- 5. What are the unique locations of departments?
SELECT DISTINCT location FROM departments;
```

### **Exercise Set 2: Basic Queries**

```sql
-- 1. Select only first names and emails of employees
SELECT first_name, email FROM employees;

-- 2. Find all employees hired in 2021 or later
SELECT * FROM employees WHERE hire_date >= '2021-01-01';

-- 3. List departments with budgets over $400,000
SELECT name, budget FROM departments WHERE budget > 400000;

-- 4. Count employees in each department
SELECT department_id, COUNT(*)
FROM employees
GROUP BY department_id;

-- 5. Order employees by salary (highest first)
SELECT first_name, last_name, salary
FROM employees
ORDER BY salary DESC;
```

### **Exercise Set 3: Data Type Practice**

```sql
-- 1. Create a customers table with appropriate data types
CREATE TABLE customers (
    -- Add columns with correct data types
);

-- 2. Insert sample data into your customers table
INSERT INTO customers VALUES
-- Add sample records
;

-- 3. Check the data types you used
DESCRIBE customers;

-- 4. Try inserting invalid data to see error messages
INSERT INTO customers (age) VALUES ('not a number');  -- Should fail if age is INT
```

---

## **1.10 KEY TAKEAWAYS & NEXT STEPS**

### **What You've Learned in Part 1:**

1. ✅ **SQL's purpose** - Managing relational databases
2. ✅ **Database concepts** - Tables, rows, columns, relationships
3. ✅ **Major DBMS options** - MySQL, PostgreSQL, SQL Server, SQLite
4. ✅ **Setting up environment** - Local or online options
5. ✅ **Basic syntax rules** - Case, quotes, semicolons, formatting
6. ✅ **First queries** - SELECT, COUNT, LIMIT
7. ✅ **Data types** - Choosing appropriate types for data

### **Common Beginner Mistakes to Avoid:**

1. **Forgetting semicolons** - Causes errors in multi-statement scripts
2. **Using double quotes for strings** - Standard SQL uses single quotes
3. **SELECT * in production** - Always specify needed columns
4. **Wrong data types** - Leads to storage waste and performance issues
5. **No formatting** - Makes code hard to read and maintain

### **Preparation for Part 2:**

Before moving to Part 2 (Data Querying), ensure you can:
- Connect to a database successfully
- Run basic SELECT queries
- Understand table structures
- Differentiate between data types

### **Recommended Practice:**

```sql
-- Spend 15-30 minutes experimenting:
-- 1. Create a simple table
-- 2. Insert different data types
-- 3. Practice basic SELECT queries
-- 4. Try to break things (then fix them)

-- Example practice session:
CREATE TABLE practice_table (
    id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(100),
    age INT,
    score DECIMAL(5,2),
    is_active BOOLEAN,
    created_date DATE
);

INSERT INTO practice_table (name, age, score, is_active, created_date)
VALUES ('Test User', 25, 95.50, TRUE, '2024-01-15');

SELECT * FROM practice_table;
```

---

## **QUICK REFERENCE: PART 1 COMMANDS**

### **Essential Commands Learned:**

| Command | Purpose | Example |
|---------|---------|---------|
| `SELECT` | Retrieve data | `SELECT * FROM table;` |
| `FROM` | Specify table | `SELECT column FROM table;` |
| `LIMIT` | Restrict rows | `SELECT * FROM table LIMIT 5;` |
| `COUNT()` | Count rows | `SELECT COUNT(*) FROM table;` |
| `DESCRIBE` | Show structure | `DESCRIBE table_name;` |
| `SHOW TABLES` | List tables | `SHOW TABLES;` |
| `CREATE TABLE` | Create table | `CREATE TABLE name (...);` |
| `INSERT INTO` | Add data | `INSERT INTO table VALUES (...);` |

### **Data Types Quick Guide:**

- **Whole numbers**: `INT`, `BIGINT`, `SMALLINT`
- **Decimal numbers**: `DECIMAL(total_digits, decimal_places)`
- **Text**: `VARCHAR(max_length)`, `TEXT` (long)
- **Dates**: `DATE` (YYYY-MM-DD), `DATETIME`, `TIMESTAMP`
- **Boolean**: `BOOLEAN` (TRUE/FALSE or 1/0)

---

**Ready for Part 2?** In the next section, we'll dive deep into **Data Querying** with WHERE clauses, filtering, sorting, and more powerful SELECT statements!

---

*End of Part 1: SQL Foundations*